# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2024-GD4-3DGD-ICA2-niall_oreilly.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
